@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Show list customer";
}
<table class="table table-bordered table-hover mt-2">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Sdt</th>
            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var role in Model)
            {
                <tr>
                    <td>@role.FullName</td>
                    <td>@role.numberPhone</td>
                    <td>@role.Email</td>
                </tr>
            }
        }
    </tbody>
</table>